@import "tailwindcss";

@theme {
  --font-danaMed: var(--font-danaMed);
  --font-danaDemiBold: var(--font-danaDemiBold);
  --font-danaLight: var(--font-danaLight);
  --font-morabbaReg: var(--font-morabbaReg);
}

@utility ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}
