@import "tailwindcss";

@theme {
  --font-danaMed: var(--font-danaMed);
  --font-danaDemiBold: var(--font-danaDemiBold);
  --font-danaLight: var(--font-danaLight);
  --font-morabbaReg: var(--font-morabbaReg);
}

@utility ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

@utility container {
  padding-inline: 8px;
  margin-inline: auto;

  @variant md {
    padding-inline: px;
  }

  @variant lg {
    padding-inline: 20px;
  }

  @variant xl {
    padding-inline: 100px;
  }
}
